@import "~src/styles/variables/variable";
@import "~src/styles/mixins/mixin-container";

.ah-donation {
  flex: 1;
  @include container($screen-md);
  padding: $space-base-double;

  &__info {
    font-size: $font-form-h3;
    font-family: $font-akrobat-bold;
    text-transform: uppercase;
    display: inline-block;

    li:not(:first-child) {
      border-top: 2px solid var(--color-primary-dark);
      padding: $space-base 0 $space-base-double;
      margin-top: $space-base;
    }
  }

  // For Desktop.
  @media (min-width: $screen-md) {
    & {
      &__info {
        font-size: $font-form-h2;
      }

      &__content {
        padding-top: $space-base-double;
      }
    }
  }
}
