@import '~src/styles/variables/variable';
@import "~src/styles/mixins/mixin-flex-variant";
@import '~src/styles/inputs/mixin-input';
@import '~src/styles/inputs/mixin-input-validate';
@import "~src/styles/mixins/mixin-hint-variant";

@import "~src/styles/inputs/input";
@import "~src/styles/inputs/input-with-icon";
@import "~src/styles/inputs/radio-btn";
@import "~src/styles/inputs/textarea";
@import "~src/styles/inputs/checkbox";


.ah-title {
  font-family: $font-family-bold;
  text-transform: uppercase;
  font-size: $font-size-body;
}

.ah-svg-rub {
  width: $ico-rub-size;
  margin: $ico-rub-space;
}

// Sum.
.ah-sum {
  font-size: $font-size-md;
  text-align: center;
  position: relative;

  > *:not([class*='__hint']) {
    margin: $space-base;
  }

  &__hint {
    @include hint-variant(var(--color-red), $font-family-roboto, $font-size-sm);
    position: absolute;
    top: 100%;
    margin: $space-base-half 0 0 $space-base;
  }

  // For Desktop & Tablet.
  @media (min-width: $screen-sx) {
    & {
      @include flex-variant(inline-flex, flex-start, center);
      flex-wrap: wrap;

      &__switcher {
        @include flex-variant(inline-flex, flex-start, center);
        flex-wrap: wrap;
      }
    }
  }
}

// Forms Inputs.
.ah-form {
  &__control {
    padding: $space-base;
  }

  // For Desktop & Tablet.
  @media (min-width: $screen-sm) {
    display: flex;
    flex-wrap: wrap;

    &__control {
      flex: 50%;
    }

    .ah-width-full {
      flex: 100%;
    }
  }

  + [class*='ah-btn--'] {
    margin-top: $space-small;
  }
}

.ah-form,
.ah-sum {
  margin: $space-base (-$space-base);
}
