<form [formGroup]="donateForm"
      (ngSubmit)="onSubmit()">
  <h4 class="ah-title">{{formText.title}}</h4>

  <!--Sum-->
  <div class="ah-sum">
    <div class="ah-sum__switcher">
      <ng-container *ngFor="let item of donateSum; let idx = index">
        <label for="opt{{idx}}"
               class="ah-radio-btn">
          <input type="radio"
                 name="sumRadioValue"
                 (click)="resetInputSumValue()"
                 formControlName="sumRadioValue"
                 id="opt{{idx}}"
                 [value]="item.value"
                 style="display: none"/>
          <span class="ah-radio-btn__label">{{item.value}}</span>
        </label>
      </ng-container>
    </div>
    <span class="ah-title">{{formText.or}}</span>
    <div class="ah-input-with-icon">
      <input type="number"
             formControlName="sumInputValue"
             min="1">
      <svg-icon src="assets/icons/icon-rub.svg"
                class="ah-svg-rub"></svg-icon>
    </div>
    <div *ngIf="!donateForm.get('sumRadioValue').value && !donateForm.get('sumInputValue').value"
         class="ah-sum__hint">{{formText.fieldSumError}}</div>
  </div>

  <!--Forms Inputs-->
  <div class="ah-form">
    <div class="ah-form__control">

      <div class="ah-input"
           [ngClass]="{'ah-input--invalid': donateForm.get('name').invalid && donateForm.get('name').touched}">
        <input placeholder="{{formText.name.label}}"
               formControlName="name"
               type="text">
        <div *ngIf="donateForm.get('name').invalid && donateForm.get('name').touched"
             class="ah-input__hint">{{formText.name.error}}</div>
      </div>

    </div>
    <div class="ah-form__control">
      <div class="ah-input"
           [ngClass]="{'ah-input--invalid': donateForm.get('email').invalid && donateForm.get('email').touched}">
        <input placeholder="{{formText.email.label}}"
               formControlName="email"
               type="email">
        <div *ngIf="donateForm.get('email').invalid && donateForm.get('email').touched"
             class="ah-input__hint">
          <ng-container *ngIf="donateForm.get('email').errors['required']">{{formText.email.errorNoEmpty}}</ng-container>
          <ng-container *ngIf="donateForm.get('email').errors['email']">{{formText.email.errorInvalid}}</ng-container>
        </div>
      </div>
    </div>
    <div class="ah-form__control ah-width-full">
      <div class="ah-textarea">
        <textarea placeholder="{{formText.comment.label}}"
                  formControlName="comment"></textarea>
      </div>
    </div>
    <div class="ah-form__control ah-width-full">
      <div class="ah-checkbox--group">
        <div class="ah-checkbox">
          <input type="checkbox"
                 formControlName="acceptContract"
                 id="acceptContract">
          <label for="acceptContract">
            {{formText.confirm.yes}}
            <a href="https://hrupkie.ru/donation-service-terms/"
               target="_blank">{{formText.confirm.contractOffer}}</a>
          </label>
        </div>
        <div class="ah-checkbox">
          <input type="checkbox"
                 formControlName="acceptAgreement"
                 id="acceptAgreement">
          <label for="acceptAgreement">
            {{formText.confirm.yes}}
            <a href="https://hrupkie.ru/personal-data-usage-terms/"
               target="_blank">{{formText.confirm.personalData}}</a>
          </label>
        </div>
        <div class="ah-checkbox">
          <input type="checkbox"
                 formControlName="autoPay"
                 id="autoPay">
          <label for="autoPay">
            Помогать ежемесячно
          </label>
        </div>
      </div>
    </div>
  </div>

  <button app-button
          type="submit"
          [disabled]="donateForm.invalid || donateForm.disabled || (!donateForm.get('sumRadioValue').value && !donateForm.get('sumInputValue').value)">
    {{formText.submitButton}}
  </button>
</form>
