@import "~src/styles/mixins/mixin-link-variant";

.ah-link {
  @include link-variant(var(--color-primary), var(--color-primary-rgba));
}

// Socials Block.
.ah-soc {
  margin: 0 #{-$space-base-half};
  display: flex;

  a {
    padding: $space-base-half;
  }

  // Socials SVG.
  &__svg {
    display: block;
    width: $ico-soc-size;

    // If the device has :hover.
    @media (hover: hover) {
      & {
        transition: color $transition-base;

        &:hover {
          fill: var(--color-primary);
        }
      }
    }
  }
}

.ah-footer {
  padding-bottom: 40px; // Because of socials plugin.

  &__col {
    li:not(:last-child) {
      margin-bottom: $space-small;
    }

    &:not(:last-child) {
      padding-bottom: $space-base;
    }
  }

  // For Desktop & Tablet.
  @media (min-width: $screen-sm) {
    & {
      padding-bottom: 0; // Because of socials plugin.

      display: flex;
      justify-content: space-between;

      &__col:not(:last-child) {
        padding-right: $space-base;
        padding-bottom: 0;
      }
    }
  }
}
