<footer class="ah-footer">
  <ul class="ah-footer__col">
    <li>
      <a class="ah-link"
         href="https://hrupkie.ru/">
        {{footerContent.contacts.directToMainSite}}</a>
    </li>
    <li>
      <a class="ah-link"
         href="tel:{{footerContent.contacts.phone}}"
         rel="nofollow">{{footerContent.contacts.phone}}</a>
    </li>
    <li>
      <a class="ah-link"
         href="mailto:{{footerContent.contacts.email}}?subject=Mail from {{footerContent.contacts.mainSite}}">{{footerContent.contacts.email}}</a>
    </li>
  </ul>
  <ul class="ah-footer__col">
    <li>{{footerContent.addresses.legal}}</li>
    <li>{{footerContent.addresses.physical}}</li>
    <li>{{footerContent.addresses.mailing}}</li>
    <li>
      <div class="ah-soc">
        <a *ngFor="let item of socials"
           target="_blank"
           href="{{item.link}}">
          <svg-icon src="assets/icons/icon-{{item.icon}}.svg"
                    class="ah-soc__svg"></svg-icon>
        </a>
      </div>
    </li>
  </ul>
</footer>
