/**
* Example:
* <div class="ah-checkbox">
*   <input type="checkbox" id="checkbox">
*   <label for="checkbox">Checkbox</label>
* </div>
*/
.ah-checkbox {
  position: relative;

  input {
    position: absolute;
    top: $checkbox-align;
    left: 0;
    width: $checkbox-size;
    height: $checkbox-size;
    opacity: 0;
    z-index: 0;

    // Checked.
    &:checked + label {
      &:before {
        background-color: var(--color-primary);
        border-color: var(--color-primary);
      }

      &:after {
        border-color: var(--color-white);
      }
    }
  }

  // Unchecked.
  label {
    padding: 0 0 0 $checkbox-size + $space-small;
    cursor: pointer;
    font-size: $font-size-sm;
    font-family: $font-family-roboto;
    color: var(--color-grey);

    &:before {
      content: '';
      position: absolute;
      top: $checkbox-align;
      left: 0;
      width: $checkbox-size;
      height: $checkbox-size;
      background-color: transparent;
      border: var(--border-control-grey);
      z-index: 1;

      // If the device has :hover.
      @media (hover: hover) {
        & {
          transition: all $transition-base;
          transition-property: background-color, border-color;
        }
      }

    }

    &:after {
      content: '';
      position: absolute;
      top: $checkbox-align-after;
      left: 5px;
      width: 6px;
      height: 12px;
      border-bottom: 2px solid transparent;
      border-right: 2px solid transparent;
      transform: rotate(45deg);
      z-index: 2;

      // If the device has :hover.
      @media (hover: hover) {
        & {
          transition: border-color $transition-base;
        }
      }

    }
  }

  // Container for group of checkboxes.
  &--group {
    margin: -$space-base;
    display: flex;
    flex-wrap: wrap;

    .ah-checkbox {
      margin: $space-base;
    }
  }
}
