@mixin input-validate($text-color, $border-color) {
  &--invalid {
    color: $text-color;
    position: relative;

    input {
      border-color: $border-color;
    }
  }

  &__hint {
    @include hint-variant($text-color, $font-family-roboto, $font-size-sm);
    padding-top: $space-small;
    position: absolute;
    top: 100%;
  }
}
