@import '~src/styles/mixins/mixin-focus-variant';

::-webkit-scrollbar {
  width: $scrollbar-size;
  height: $scrollbar-size;
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar);
}

::-webkit-scrollbar-track {
  background: transparent;
}

body {
  font-family: $font-family-reg;
  font-size: $font-size-body;
  color: var(--body-color);
  overflow: hidden;
  line-height: 1.1;
  background-color: var(--body-bg);
}

[disabled] {
  opacity: .5;
  cursor: default;
  pointer-events: none;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  @include focus-variant;
}
