::-webkit-scrollbar {
  width: $scrollbar-size;
  height: $scrollbar-size;
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar);
}

::-webkit-scrollbar-track {
  background: transparent;
}

body {
  font-family: $font-akrobat-reg;
  font-size: $font-base;
  color: var(--color-base);
  overflow-x: hidden;
  line-height: 1.1;
  background-color: var(--color-peach);
}
