@import "mixins/mixin-response-font";

a {
  color: var(--color-primary);
  text-decoration: none;
}

.ah-hash,
.ah-h1,
.ah-h4 {
  font-family: $font-akrobat-bold;
  text-transform: uppercase;
}

.ah-hash,
.ah-h1 {
  color: var(--color-primary-dark);
}

.ah-h1 {
  @include response-font($font-h1-response);
}

.ah-h4 {
  font-size: $font-base;
  color: var(--color-black);
}

