<app-slider></app-slider>

<app-sidebar *ngIf="isOpenSidebar">
  <ng-container sidebar-head>
    <h3>
      {{donationContent.title}}<br>
      {{donationContent.subtitle}}
    </h3>
    <button app-button
            type="button"
            theme="buttonIcon"
            iconName="icon-close"
            (click)="closeSidebar()"
            title="Закрыть форму оплаты"
            aria-label="Закрыть форму оплаты">
    </button>
  </ng-container>
  <ng-container sidebar-body>
    <app-donation></app-donation>
  </ng-container>
  <ng-container sidebar-footer>
    <app-footer></app-footer>
  </ng-container>
</app-sidebar>

<button app-button
        type="button"
        theme="animate"
        (click)="toggleSidebar()"
        [class.is-active]="isOpenSidebar"
        title="Помочь сейчас"
        aria-label="Открыть форму для перевода денег"
        iconName="icon-favorite">
</button>

