/*
* Fonts.
*/
$font-h1-response: 4rem;

$font-size-body: 14px;

$font-size-sm: 12px;
$font-size-md: 24px;
$font-size-lg: 36px;

$font-family-roboto: 'Roboto', Helvetica, Arial, sans-serif;
$font-family-reg: 'Akrobat', Helvetica, Arial, sans-serif;
$font-family-bold: 'Akrobat-Bold', Helvetica, Arial, sans-serif;

/*
* Spaces.
*/
$space-small: 4px;
$space-base: 16px;
$space-base-half: $space-base/2;
$space-base-double: $space-base*2;

/*
* Screens.
*/
$screen-sx: 400px;
$screen-sm: 768px;
$screen-md: 980px;

/*
* Buttons.
*/
$btn-spaces: 2px 32px;
$btn-size: 60px;
$btn-ico-size: 40px;
$btn-font: $font-size-md;
$btn-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

$btn-heart-ico-size: 24px;

/*
* Z-index.
*/
$z-index-swiper-text: 1;
$z-index-swiper-btn: 1;
$z-index-sidebar: 3;

/*
* Checkbox.
*/
$checkbox-size: 16px;
$checkbox-align: 0;
$checkbox-align-after: 1px;

/*
* Textarea.
*/
$textarea-max-height: 300px;

/*
* Radio Button.
*/
$radio-height: 56px;
$radio-width: 96px;

/*
* Input.
*/
$input-height-base: 40px;

$input-with-icon-height: $radio-height;
$input-with-icon-width: $radio-width;
$input-with-icon-font-size: $font-size-md;
$input-with-icon-space: $space-small 0 $space-small $space-base;
$input-with-icon-bg: var(--color-white);

/*
* Animation.
*/
$transition-base: 270ms ease-in-out;

/*
* Hooter.
*/
$header-space: $space-base $space-base-double;

/*
* Footer.
*/
$footer-font-size: 14px;
$footer-space-sm: $space-base-double;

/*
* Swiper.
*/
$swiper-bullet-from-left: $space-base;
$swiper-bullet-size: 12px;
$swiper-bullet-spaces: 12px;

/*
* Icons.
*/
$ico-rub-size: 20px;
$ico-rub-space: 0 $space-base 0 $space-base-half;

$ico-soc-color-action: var(--color-red-light);
$ico-soc-size: 16px;

/*
* Notify.
*/
$notify-title-font: $font-size-lg;
$notify-subtitle-font: $font-size-md;

/*
* Scrollbar.
*/
$scrollbar-size: 6px;

/*
* Sidebar.
*/
$sidebar-spaces: $space-base-double;
$sidebar-width: 900px;
$sidebar-title-font-family: $font-family-bold;
$sidebar-title-font-size: $font-size-md;
$sidebar-footer-font-family: $font-family-roboto;
$sidebar-footer-font-size: $font-size-body;



