$font-form-h2: 36px;
$font-form-h3: 26px;
$font-form-h4: 21px;

$font-hash: 21px;

$font-h1-response: 4rem;

$font-small: 12px;
$font-base: 16px;
$font-footer: 14px;

$font-roboto-reg: 'Roboto', Helvetica, Arial, sans-serif;
$font-akrobat-reg: 'Akrobat', Helvetica, Arial, sans-serif;
$font-akrobat-bold: 'Akrobat-Bold', Helvetica, Arial, sans-serif;

// Spaces.
$space-small: 4px;
$space-base: 16px;
$space-base-half: $space-base/2;
$space-base-double: $space-base*2;

// Screens.
$screen-sx: 400px;
$screen-sm: 768px;
$screen-md: 980px;
$screen-lg: 1220px;

// Buttons.
$btn-spaces-big: 2px 32px;
$btn-size-big: 60px;
$btn-font-big: $font-form-h3;

$btn-spaces: 2px 20px;
$btn-size: 40px;
$btn-font: 18px;
$btn-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

// Z-index.
$z-index-swiper-text: 1;
$z-index-socials: 2;
$z-index-swiper-btn: 1;

// Checkbox.
$checkbox-size: 16px;
$checkbox-align: 0;
$checkbox-align-after: 1px;

// Textarea.
$textarea-max-height: 300px;

// Radio Button.
$radio-height: 56px;
$radio-width: 96px;

// Input.
$input-height-base: 40px;

$input-with-icon-height: $radio-height;
$input-with-icon-width: $radio-width;
$input-with-icon-font-size: $font-form-h3;
$input-with-icon-space: $space-small 0 $space-small $space-base;
$input-with-icon-bg: var(--color-white);

// Animation.
$transition-base: 270ms ease-in-out;

// Hooter.
$header-space: $space-base $space-base-double;

// Footer.
$footer-font-size: 14px;
$footer-font: $font-roboto-reg;
// $space-base-double*2 - because socials network plugin on mobile.
$footer-space: $space-base-double $space-base $space-base-double;
$footer-space-sm: $space-base-double;

// Swiper.
$swiper-bullet-space: 6px;

// Icons.
$ico-rub-size: 20px;
$ico-rub-space: 0 $space-base 0 $space-base-half;

$ico-soc-color: var(--color-white);
$ico-soc-color-action: var(--color-red-light);
$ico-soc-size: 14px;

// Notify.
$notify-title-font: $font-form-h2;
$notify-subtitle-font: $font-form-h4;

// Scrollbar.
$scrollbar-size: 6px;



