@import '~src/styles/variables/variable';
@import '~src/styles/mixins/mixin-response-font';
@import '~src/styles/mixins/mixin-focus-variant';

.ah-hash,
.ah-h1 {
  color: var(--color-primary-dark);
  font-family: $font-family-bold;
  text-transform: uppercase;
}

.ah-hash {
  font-size: $font-size-md;
  margin-top: $space-base;
  white-space: nowrap;
}

.ah-h1 {
  @include response-font($font-h1-response);
  margin: $space-base 0 $space-base-double;
}

/*
* Slider.
*/
swiper {
  height: 100% !important;
}

::ng-deep .swiper-pagination {
  &-bullets {
    left: $swiper-bullet-from-left;
    right: unset;
  }

  &-bullet {
    margin: $swiper-bullet-spaces 0 !important;
    height: $swiper-bullet-size;
    width: $swiper-bullet-size;
    @include focus-variant;
  }
}

.ah-girl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  &__title {
    text-align: center;
    position: relative;
    user-select: none;
    z-index: $z-index-swiper-text;
  }

  &__preview {
    position: relative;
    margin: 0 auto;
    width: 68vmin;

    // For Desktop & Tablet.
    @media (min-width: $screen-sm) {
      width: 58vmin;
    }
  }

}

.ah-svg-flowers {
  position: absolute;
  top: 0;
  height: auto;
  width: 125%;
  bottom: 2%;
  left: -10%;
}

.ah-svg-gap {
  position: absolute;
  opacity: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 140%;

  // For Desktop & Tablet.
  @media (min-width: $screen-sm) {
    width: 1600px;
    height: 896px
  }
}
