@import "~src/styles/variables/variable";
@import "~src/styles/mixins/mixin-flex-variant";

@mixin button-variant($background, $hover-background, $color) {
  color: $color;
  border: none;
  background: $background;
  cursor: pointer;
  white-space: nowrap;
  text-transform: uppercase;
  user-select: none;
  @include flex-variant(inline-flex, center, center);

  &:not(:disabled) {
    &:active {
      background: $hover-background;
    }

    // If the device has :hover.
    @media (hover: hover) {
      & {
        transition: background $transition-base, box-shadow $transition-base;

        &:hover {
          background: $hover-background;
          box-shadow: $btn-shadow;
        }
      }
    }
  }

  svg {
    fill: currentColor;
  }
}
