@import "../variables/variable";

@mixin link-variant($color, $color-border) {
  color: $color;
  border-bottom: 1px solid rgba($color-border,.2);

  // If the device has :hover.
  @media (hover: hover) {
    &:hover {
      border-bottom-color: $color-border;
      transition: border-bottom-color $transition-base;
    }
  }
}
